<?xml version="1.0"?>
<configuration>
	<appSettings/>
	<connectionStrings/>
	<system.web>
		<compilation debug="false" />
		<pages>
			<controls>
				<add tagPrefix="asp" tagName="SomeBanner" src="~/controls/Banner.ascx" />
				<add tagPrefix="asp" namespace="Mono.Web.Security.UI" assembly="Mono.Web.Security" />
			</controls>
		</pages>
	</system.web>
</configuration>
