<configuration>
	<system.diagnostics>
		<sharedListeners>
			<add
				name="loggerA"
				type="System.Diagnostics.TextWriterTraceListener"
				initializeData="A.txt"
				traceOutputOptions="Timestamp" />
		</sharedListeners>	
		<trace autoflush="true" indentsize="4">
			<listeners>
                <add
					name="loggerA" />
                <add
					name="loggerB"
					type="System.Diagnostics.TextWriterTraceListener"
					initializeData="B.txt"
					traceOutputOptions="pRocessID" />
			</listeners>
		</trace>
	</system.diagnostics>
</configuration>