<configuration>
	<system.diagnostics>
		<trace autoflush="true" indentsize="4">
			<listeners>
				<clear />
                <add
					name="loggerA"
					type="System.Diagnostics.TextWriterTraceListener"
					initializeData="A.txt"
					traceOutputOptions="None" />
                <add
					name="loggerB"
					type="System.Diagnostics.TextWriterTraceListener"
					initializeData="B.txt"
					traceOutputOptions="Timestamp" />
                <add
					name="loggerC"
					type="System.Diagnostics.TextWriterTraceListener"
					initializeData="C.txt"
					traceOutputOptions="Timestamp, DateTime" />
                <add
					name="loggerD"
					type="System.Diagnostics.TextWriterTraceListener"
					initializeData="D.txt" />
			</listeners>
		</trace>
	</system.diagnostics>
</configuration>