<configuration>
	<system.diagnostics>
		<trace autoflush="true" indentsize="4">
			<listeners>
                <add
					name="loggerA"
					type="System.Diagnostics.TextWriterTraceListener"
					initializeData="A.txt"
					traceOutputOptions="Timestamp" />
                <add
					name="loggerB"
					type="System.Diagnostics.TextWriterTraceListener"
					initializeData="B.txt"
					traceOutputOptions="2" />
			</listeners>
		</trace>
	</system.diagnostics>
</configuration>