<?xml version="1.0"?>
<!--
Web.config file for Main.

The settings that can be used in this file are documented at 
http://www.mono-project.com/Config_system.web and 
http://msdn2.microsoft.com/en-us/library/b5ysx397.aspx
-->
<configuration>
  <system.web>
    <compilation defaultLanguage="C#" debug="true">
	<compilers>
		<compiler language="py;python;ironpython" extension=".py"
				  warningLevel="1" compilerOptions=""
				  type="IronPython.CodeDom.PythonProvider, IronPython, Version=1.1.0.0, Culture=neutral"/>
	</compilers>
    </compilation>
  </system.web>
</configuration>
