<?xml version="1.0"?>
<configuration>
	<appSettings/>
	<connectionStrings/>
	<system.web>
		<siteMap enabled="true" defaultProvider="DummySiteMapProvider">
			<providers>
				<add name="DummySiteMapProvider"
					type="MonoTests.Web.DummySiteMapProvider"
					rootTitle="Mono is the best" />
			</providers>
		</siteMap>
	</system.web>
</configuration>
