<?xml version="1.0" ?>
<configuration>
	<system.web>
		<compilation defaultLanguage="C#" debug="true" />
		<customErrors mode="RemoteOnly" />
		<authentication mode="None" />
		<authorization>
			<allow users="*" />
		</authorization>
		<trace enabled="false" localOnly="true" pageOutput="false" requestLimit="10" traceMode="SortByTime" />
		<sessionState mode="InProc" cookieless="false" timeout="20" />
		<globalization requestEncoding="utf-8" responseEncoding="utf-8" />
	</system.web>
</configuration>