<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.web>
		<compilation defaultLanguage="C#" debug="true" batch="false" />
		<customErrors mode="Off" />
	</system.web>
	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" compilerOptions="/d:MONO_ASP" warningLevel="4"
				type="Microsoft.CSharp.CSharpCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
		</compilers>
	</system.codedom>
</configuration>
