<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="system.web">
			<section name="MonoTest1" type="MonoTest.TestConfigurationSection, Mono.Config" />
			<section name="MonoTest2" type="MonoTest.TestConfigurationSectionHandler, Mono.Config" />
		</sectionGroup>
	</configSections>
	<appSettings/>
	<system.web>
		<MonoTest1 name="Mono!Test1" />
		<MonoTest2 name="Mono!Test2" />
		<compilation debug="true"/>
	</system.web>
</configuration>
