<?xml version="1.0" encoding="iso-8859-1"?>
<configuration>
	<system.web>
		<compilation defaultLanguage="C#" debug="true" batch="false" />
		<customErrors mode="Off"/>
		<globalization fileEncoding="iso-8859-1" requestEncoding="iso-8859-1" responseEncoding="iso-8859-1" />
		<pages>
			<controls>
				<add tagPrefix="test" tagName="MyControl" src="~/controls/MyControl.ascx" />
			</controls>
		</pages>
	</system.web>
</configuration>