<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="system.web">
			<section name="MonoTest1" type="Mono.Web.Config.TestConfigurationSection, Mono.Web.Config" />
			<section name="MonoTest2" type="Mono.Web.Config.TestConfigurationSectionHandler, Mono.Web.Config" />
		</sectionGroup>
	</configSections>
	<appSettings/>
	<system.web>
		<MonoTest1 name="Mono!Test1" />
		<MonoTest2 name="Mono!Test2" />
		<compilation debug="true"/>
	</system.web>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <probing privatePath="test;libraries" />
        </assemblyBinding>
    </runtime>
</configuration>
