<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="bug432366.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
				requirePermission="false" />
			<section name="Web2_0_Test.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
				requirePermission="false" />
			<section name="Web2._Test.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
				requirePermission="false" />
		</sectionGroup>
	</configSections>
	<applicationSettings>
		<bug432366.Properties.Settings>
			<setting name="BugReport_Service" serializeAs="String">
				<value>http://localhost:8080/index.asmx</value>
			</setting>
		</bug432366.Properties.Settings>
		<Web2_0_Test.Properties.Settings>
			<setting name="Web2_0Test_MetaData_MetaDataService" serializeAs="String">
				<value>http://172.20.50.102/Metadata/index.asmx</value>
			</setting>
			<setting name="Web2_0Test_Audio_AudioService" serializeAs="String">
				<value>http://172.20.50.102/Audio/index.asmx</value>
			</setting>
			<setting name="Web2_0Test_Development_DevelopmentService" serializeAs="String">
				<value>http://172.20.50.102/Development/index.asmx</value>
			</setting>
			<setting name="Web2_0Test_RecognizerTest_RecognizerTest" serializeAs="String">
				<value>http://blade039:8080/rt.asmx</value>
			</setting>
			<setting name="Web2_0Test_Recognizer_RecognizerService" serializeAs="String">
				<value>http://blade039:8080/index.asmx</value>
			</setting>
		</Web2_0_Test.Properties.Settings>
		<Web2._Test.Properties.Settings>
			<setting name="Web2_0Test_MetaData_MetaDataService" serializeAs="String">
				<value>http://172.16.96.128/Metadata/index.asmx</value>
			</setting>
		</Web2._Test.Properties.Settings>
	</applicationSettings>
</configuration>
