<?xml version="1.0"?>
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
	<appSettings/>
	<connectionStrings/>
	<system.data>
		<DbProviderFactories>
			<add name="MySQL DataProvider" 
				 invariant="MySql.Data.MySqlClient" 
				 description="MySQL Data Provider" 
				 type="MySql.Data.MySqlClient.MySqlClientFactory,MySql.Data, Version=5.0.3.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
		</DbProviderFactories>
	</system.data>
</configuration>
