<?xml version="1.0"?>
<configuration>
	<system.web>
		<siteMap defaultProvider="XmlSiteMapProvider" enabled="true" >
			<providers>
				<clear/>
				<add name="XmlSiteMapProvider" type="System.Web.XmlSiteMapProvider" siteMapFile="Web.sitemap" securityTrimmingEnabled="true" />
				<add name="FooSiteMapProvider" type="Bug.FooSiteMapProvider" securityTrimmingEnabled="true" />
			</providers>
		</siteMap>
		<customErrors mode="Off"/>
	</system.web>
</configuration>
