<?xml version="1.0"?>
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
	<appSettings>
		<add key="yourkey" value="your value" />
	</appSettings>
	<connectionStrings>
		<add name="Publications" providerName="System.Data.SqlClient" 
			connectionString="Data Source=MyServer;Initial Catalog=pubs;integrated security=SSPI" />
	</connectionStrings>
</configuration>
