<?xml version="1.0"?>
<configuration>
	<system.web>
		<pages>
			<controls>
				<add tagPrefix="portal" namespace="MonoPortal.Web" assembly="MonoPortal.Web" />
				<add tagPrefix="portal" namespace="MonoPortal.Web.UI" assembly="MonoPortal.Web" />
			</controls>
		</pages>
	</system.web>
</configuration>
