<?xml version="1.0" encoding="iso-8859-1"?>
<configuration>
	<system.web>
		<compilation defaultLanguage="C#" debug="true" batch="false"/>
		<customErrors mode="Off"/>
		<trace enabled="false" />
		<globalization requestEncoding="utf-16" responseEncoding="gb18030" fileEncoding="iso-8859-1" />
	</system.web>
</configuration>
