<?xml version="1.0" encoding="ISO-8859-1"?>
<configuration>
  <system.web>
    <compilation defaultLanguage="C#" debug="true" />

    <customErrors mode="Off"/>
    <globalization fileEncoding="iso-8859-1"
      requestEncoding="iso-8859-1" responseEncoding="iso-8859-1" />

	 <sessionState sessionIDManagerType="Test.DummySessionIDManager" />
  </system.web>
</configuration>
