<?xml version="1.0"?>
<configuration>
	<system.web>
		<httpHandlers>
			<add path="/static/test.axd" verb="GET" type="Main.Handlers.TestHandler, Mono.Web" />
			<add path="~/static/test2.axd" verb="GET" type="Main.Handlers.TestHandler, Mono.Web" />
			<add path="test3.axd" verb="GET" type="Main.Handlers.TestHandler, Mono.Web" />
		</httpHandlers>
	</system.web>
</configuration>
