<configuration>
	<system.web>
		<httpRuntime
			apartmentThreading="true"
			appRequestQueueLimit="10"
			delayNotificationTimeout="13"
			enable="true"
			enableHeaderChecking="false"
			enableKernelOutputCache="false"
			enableVersionHeader="false"
			executionTimeout="50"
			maxRequestLength="20"
			maxWaitChangeNotification="14"
			minFreeThreads="7"
			minLocalRequestFreeThreads="5"
			requestLengthDiskThreshold="543"
			requireRootedSaveAsPath="false"
			sendCacheControlHeader="false"
			shutdownTimeout="8"
			useFullyQualifiedRedirectUrl="true"
			waitChangeNotification="9" />
	</system.web>
</configuration>
