<?xml version="1.0"?>
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
	<system.web>
		<authentication mode="None"/>
		<membership>
			<providers>
				<clear/>
			</providers>
		</membership>
		<profile enabled="true">
			<properties>
				<add name="FirstName" type="System.String"/>
				<add name="LastName" type="System.String"/>
				<add name="MemberId" defaultValue="0" type="System.Int32"/>
				<group name="Core"/>
			</properties>
		</profile>
		<roleManager enabled="true"/>
		<siteMap defaultProvider="RoleEnabled_AspNetXmlSiteMapProvider" enabled="true">
			<providers>
				<clear/>
				<add name="RoleEnabled_AspNetXmlSiteMapProvider" type="System.Web.XmlSiteMapProvider, System.Web, Version=2.0.3600.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" siteMapFile="web.sitemap" securityTrimmingEnabled="true"/>
			</providers>
		</siteMap>
	</system.web>
	<system.net>
		<mailSettings>
			<smtp>
				<network host="yourSMTPhostname" port="25" defaultCredentials="true" userName="enterUserNameHereIfRequired" password="enterPasswordIfRequired"/>
			</smtp>
		</mailSettings>
	</system.net>
</configuration>
