<?xml version="1.0"?>
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
	<connectionStrings>
		<clear />
		<add name="LocalSqlServer" connectionString="data source=MOTHER;Database=master; user id=sa;password=deusleuv" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<location path="Default.aspx">
		<system.web>
			<authorization>
				<allow users="?"/>
			</authorization>
		</system.web>
	</location>
	<system.web>
		<authentication mode="Forms" />
		<authorization>
			<deny users="?"/>
		</authorization>
		<membership>
			<providers>
				<clear/>
			</providers>
		</membership>
		<profile enabled="true">
			<properties>
				<add name="FirstName" type="System.String"/>
				<add name="LastName" type="System.String"/>
				<add name="MemberId" defaultValue="0" type="System.Int32"/>
				<group name="Core"/>
			</properties>
		</profile>
		<roleManager defaultProvider="StaticRoleProvider" enabled="true">
			<providers>
			    <clear />
				<add name="StaticRoleProvider" applicationName="/" type="StaticRoleProvider"/>
			</providers>
		</roleManager>
		<siteMap defaultProvider="RoleEnabled_AspNetXmlSiteMapProvider" enabled="true">
			<providers>
				<clear/>
				<add name="RoleEnabled_AspNetXmlSiteMapProvider" type="System.Web.XmlSiteMapProvider, System.Web, Version=2.0.3600.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" siteMapFile="Web.sitemap" securityTrimmingEnabled="true"/>
			</providers>
		</siteMap>
	</system.web>
	<system.net>
		<mailSettings>
			<smtp>
				<network host="yourSMTPhostname" port="25" defaultCredentials="true" userName="enterUserNameHereIfRequired" password="enterPasswordIfRequired"/>
			</smtp>
		</mailSettings>
	</system.net>
</configuration>
