<?xml version="1.0"?>
<configuration>
	<appSettings/>
	<connectionStrings/>
	<system.web>
		<siteMap enabled="true" defaultProvider="XmlSiteMapProvider">
			<providers>
				<add name="XmlSiteMapProvider"
					description="Default SiteMap provider."
					type="System.Web.XmlSiteMapProvider"
					siteMapFile="custom.sitemap"
					securityTrimmingEnabled="true" />
				<add name="DummySiteMapProvider"
					type="MonoTests.Web.DummySiteMapProvider"
					rootTitle="Mono is the best" />
			</providers>
		</siteMap>
	</system.web>
</configuration>
