<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="Group">
			<section name="Section" type="System.Configuration.NameValueSectionHandler"/>
		</sectionGroup>
	</configSections>
	<Group>
		<Section>
			<add key="key" value="value" />
		</Section>
	</Group>
</configuration>
