<?xml version="1.0"?>
<configuration>
    <appSettings/>
    <connectionStrings/>
    <system.web>
        <compilation debug="false" />
		<pages>
			<controls>
				<add tagPrefix="vv" tagName="SomeBanner" src="~/controls/Banner.ascx" />
			</controls>
		</pages>
        <profile inherits="CustomProfile">
      </profile>
    </system.web>
</configuration>
