<?xml version="1.0"?>
<configuration>
	<appSettings/>
	<connectionStrings/>
	<system.web>
		<pages>
			<controls>
				<add tagPrefix="vv" tagName="SomeBanner" src="~/controls/Banner.ascx" />
				<add tagPrefix="xx" namespace="Mono.Web.Security.UI" assembly="Mono.Web.Security" />
				<add tagPrefix="mm" namespace="Mono.Web.UI" />
			</controls>
		</pages>
	</system.web>
</configuration>
