<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.diagnostics>
        <switches>
            <add name="t" value="1" />
        </switches>
        <trace>
            <listeners>
                <clear />
                <add name="logfileListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="log.txt" />
            </listeners>
        </trace>
    </system.diagnostics>
</configuration>
