<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="my-section" type="MySection, test" />
	</configSections>
	<my-section>
		<my-collection>
			<add name="first" value="1st" />
			<add name="second" value="2nd" />
			<add name="third" value="3rd" />
		</my-collection>
	</my-section>
</configuration>
