<?xml version="1.0"?>
<configuration>
	<system.web>
		<pages validateRequest="false" enableViewStateMac="true" viewStateEncryptionMode="Auto">
			<namespaces>
				<add namespace="System.Globalization" />
			</namespaces>
			<controls>
				<add tagPrefix="portal" tagName="ModuleWrapper" src="~/Controls/ModuleWrapper.ascx" />
				<add namespace="FredCK.FCKeditorV2" assembly="Does.Not.Exist" tagPrefix="fckeditorv2"/>
			</controls>
		</pages>
	</system.web>
</configuration>
