<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.web>
		<httpHandlers>
			<clear />
			<add path="*.aspx" verb="*" type="MyWebApp.MyHandlerFactory, Mono.Web.UI" validate="true" />
			<add path="*" verb="*" type="MyWebApp.MyHandler, Mono.Web.UI" validate="true" />
		</httpHandlers>
		<httpModules>
			<clear />
			<add name="MyWebApp" type="MyWebApp.MyModule, Mono.Web.UI" />
		</httpModules>
	</system.web>
</configuration>
